@import 'styles/config';
.header {
    height: pxTorem(100px);
    width: 100%;
    color: $font-color;
    text-align: center;
    line-height: pxTorem(200px);
}
.star {
    width: pxTorem(50px);
    height: pxTorem(50px);
    display: inline-block;
    padding: 0 5px;
    font-size: 18px;
    line-height: 18px;
    color:$front-color;
}
.avatar {
    width: pxTorem(100px);
    height: pxTorem(100px);
    display: inline-block; 
    vertical-align: text-bottom;
}
    