$browser-default-font-size: 75px;
$font-color:#fff;
$font-color-green: green;
$front-color: rgb(255,201,0);
$backgournd-color:#000;

@function pxTorem($px){
  @return $px / $browser-default-font-size * 1rem;
}