@import 'styles/config';
.items {
    box-sizing: border-box;
    width: pxTorem(600px);
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 0;
    li{
        width: pxTorem(600px);
        background-color: #fff;
        list-style: none;
        overflow: hidden;
        margin: 20px auto;
        input {
            width: 100%;
            height: pxTorem(100px);
            overflow: hidden;
            margin: 0;
            padding: 0;
            text-align: center;
            border: 1px solid #fdfdfd;

        }
        textarea{
            width: 100%;
            height: pxTorem(500px);
            overflow: hidden;
            margin: 0;
            padding: 0;
            text-align: center;
            border: 1px solid #fdfdfd;
        }
    }
    .item {
        height: pxTorem(100px);
    }
    .muitem{
        height: pxTorem(500px);
    }
}

.list{
    width: 100%;
    list-style: none;
    li{
        width: 80%;
        line-height: pxTorem(60px);
        display: block;
        margin:0 auto;
    }
    span, a{
        display: inline-block;
        width: 30%;
        text-align: center;
    }
    a{
        color: $font-color-green;
    }
}